<% provide(:title, t(".title")) %>
<% @teams.each do |e| %>
  <article class="wrap-list-team">
    <div class="container">
      <a href="javascript:void(0)">
        <div class="col-sm-6 col-md-4 logo-team">
          <figure>
            <img src="/assets/<%= e.logo %>">
          </figure>
        </div>
      </a>
      <div class="col-sm-6 col-md-8 info-team">
        <a href="javascript:void(0)">
          <h4><%= e.name %></h4>
          <p><%= e.description[0..200]%>...</p>
        </a>
        <hr>
        <section>
          <span>
            <i class="fa fa-hourglass-start" aria-hidden="true"></i>
            <%= I18n.l e.created_at, format: :date_month_year %>
          </span>
          <span>
            <i class="fa fa-bolt" aria-hidden="true"></i>
            <%= e.matchs_one.size + e.matchs_two.size %>
          </span>
          <span>
            <a href="javascript:void(0)">
              <i class="fa fa-users" aria-hidden="true"></i>
              <%= e.players.size %>
            </a>
          </span>
          <button class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#myModal-<%= e.id %>"><%= t ".more" %></button>
        </section>
      </div>
    </div>
  </article>
  <%= render partial: "teams/modal", locals: {e: e} %>
<% end %>
<% if @teams.present? %>
  <section class="bottom-border"></section>
  <div class="digg_pagination">
    <%= will_paginate @teams, container: false %>
  </div>
<% end %>
