<tr>
  <td>
    <img src="/assets/<%= league.logo %>" alt="">
    <%= link_to league.name, league_path(league), class: "user-link" %>
  </td>
  <td class="padding-top">
    <%= I18n.l league.created_at, format: :date_month_year %>
  </td>
  <td class="text-center padding-top">
    <%= I18n.l league.time, format: :date_month_year %>
  </td>
  <td class="padding-top">
    <%= matched(league.matchs).size %>/<%= league.matchs.size %>
  </td>
  <td style="width: 15%;" class="padding-top">
    <a href="<%= edit_admin_league_path league %>" class="table-link">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    <a href="<%= admin_league_path league %>" class="table-link danger">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
        </span>
    </a>
  </td>
</tr>
