<tr>
  <td>
    <%= team.name %>
  </td>
  <td class="img_list">
    <img src="<%= team.logo %>"/>
  </td>
  <td>
    <%= I18n.l team.created_at, format: :date_month_year %>
  </td>
  <td>
    <%= team.players.size %>
  </td>
  <td style="width: 15%;">
    <a href="<%= edit_admin_team_path team %>" class="table-link">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
        </span>
    </a>
    <a href="<%= admin_team_path team %>" class="table-link danger" data-method="delete">
        <span class="fa-stack">
          <i class="fa fa-square fa-stack-2x"></i>
          <i class='fa fa-trash-o fa-stack-1x fa-inverse'></i>
        </span>
    </a>
  </td>
</tr>
