<header id="ccr-header">
  <section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
        <nav class="top-menu">
          <ul class="right-top-menu pull-right">
            <% if logged_in? %>
              <li><%= link_to current_user.name, edit_user_path(current_user) %></li>
              <li><%= link_to t("log_out"), logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t(".login"), login_path %></li>
              <li><%= link_to t(".register"), signup_path %></li>
            <% end %>
            <li>
              <form class="form-inline" role="form" action="#">
                <input type="search" placeholder="<%= t '.placeholder' %>" required>
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <section id="ccr-site-title">
    <div class="container">
      <div class="site-logo">
        <a href="index.html" class="navbar-brand">
          <img src="/assets/img/logo.png"/>
          <h1><%= t ".football" %><span><%= t ".news" %></span></h1>
          <h3><%= t ".text_logo" %></h3>
        </a>
      </div>

      <div class="add-space">
        728 x 90 px Banner
      </div>

    </div>
  </section>

  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><a class="active" href="index.html"><%= t ".home" %></a></li>
            <li><a class="active" href="index.html"><%= t ".blog" %></a></li>
            <li><a href="single.html"><%= t ".single" %></a></li>
            <li><a href="contact.html"><%= t ".contact" %></a></li>
          </ul>
        </div>

        <div id="currentTime" class="pull-right current-time">
          <i class="fa fa-clock-o"></i> <span id="clock"></span>
        </div>

      </div>
    </nav>
  </section>

  <section id="ccr-nav-below-main">
    <nav class="second-menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-below-main">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse ccr-nav-below-main">
          <ul class="nav navbar-nav">
            <li><a href="#"><%= t ".europe" %></a></li>
            <li><a href="#"><%= t ".usa" %></a></li>
            <li><a href="#"><%= t ".middle_east" %></a></li>
            <li><a href="#"><%= t ".social_and_it" %></a></li>
            <li><a href="#"><%= t ".culture" %></a></li>
          </ul>
        </div>

        <div class="ccr-language">
          <ul>
            <li><%= t ".language" %></li>
            <li><a href="#"><img src="/assets/img/uk.png" alt="UK"><%= t ".english" %></a></li>
            <li><a href="#"><img src="/assets/img/france.png" alt="vi"><%= t ".vietnamese" %></a></li>
            <li>
              <a href="#"><img src="/assets/img/garman.png" alt="ja"><%= t ".japanese" %></a></li>
          </ul>
        </div>
      </div>
    </nav>
  </section>
</header>
