<header id="ccr-header">
  <section id="ccr-nav-top" class="fullwidth">
    <div class="">
      <div class="container">
        <nav class="top-menu">
          <ul class="right-top-menu pull-right">
            <% if logged_in? %>
              <li><%= link_to current_user.name, edit_user_path(current_user) %></li>
              <li><%= link_to t("log_out"), logout_path, method: :delete %></li>
            <% else %>
              <li><%= link_to t(".login"), login_path %></li>
              <li><%= link_to t(".register"), signup_path %></li>
            <% end %>
            <li>
              <%= form_for :searchs, url: search_path, html: {
                class: "form-inline", role: "form", method: "GET"} do |f| %>
                <%= f.search_field :key, placeholder: t(".placeholder"), required: "required" %>
                <button type="submit"><i class="fa fa-search"></i></button>
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </section>

  <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
  <% end %>

  <section id="ccr-site-title">
    <div class="container">
      <div class="site-logo">
        <a href="/" class="navbar-brand">
          <img src="/assets/img/logo.png"/>
          <h1><%= t ".football" %><span><%= t ".news" %></span></h1>
          <h3><%= t ".text_logo" %></h3>
        </a>
      </div>

      <div class="add-space">
        <img id="img-header" src="/assets/header.jpg">
      </div>

    </div>
  </section>

  <section id="ccr-nav-main">
    <nav class="main-menu">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".ccr-nav-main">
            <i class="fa fa-bars"></i>
          </button>
        </div>

        <div class="collapse navbar-collapse ccr-nav-main">
          <ul class="nav navbar-nav">
            <li><%= link_to t(".home"), root_path, class: "active" %></li>
            <li><%= link_to t(".leagues"), leagues_path, class: "active" %></li>
            <li><%= link_to t(".teams"), teams_path, class: "active" %></li>
          </ul>
        </div>

        <div id="currentTime" class="pull-right current-time">
          <i class="fa fa-clock-o"></i> <span id="clock"></span>
        </div>
      </div>
    </nav>
  </section>
</header>
