<!doctype html>
<html lang="en">
  <head>
    <%= render "layouts/load_css"%>
  </head>

  <body>
  <%= render "layouts/header" %>
    <section id="ccr-main-section">
      <div class="container">
        <!-- main content -->
        <%= yield %>
        <%= render "layouts/sibar_right"%>
      </div>
    </section>
  <!-- footer -->
  <%= render "layouts/footer"%>
  <%= render "layouts/load_js"%>
  </body>
</html>
