<!doctype html>
<html lang="en">
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= render "layouts/load_css" %>
  </head>

  <body>
  <%= render "layouts/header" %>
    <section id="ccr-main-section">
      <div class="container">
        <section id="ccr-left-section" class="col-md-8">
          <%= yield %>
        </section>
        <%= render "layouts/sibar_right"%>
      </div>
    </section>
  <%= render "layouts/footer"%>
  <%= debug(params) if Rails.env.development? %>
  <%= render "layouts/load_js"%>
  </body>
</html>
